!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title Sale Vehicles

    %meta{:content => "", :itemprop => "keywords", :name => "keywords"}/
    %meta{:content => "", :itemprop => "description", :name => "description"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/


    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:500,700|Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.css", :rel => "stylesheet"}/

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.fixed-nav.sticky-footer.dashboard
    = render 'header'
    .container-fluid.fixed_top_margin.m-main.bg
      .dashboard-main.cf
        %main.m-main.bg{ role: 'main' }
          = render 'notify'
          = yield
    = render 'footer'

  %script( src="https://code.jquery.com/jquery-3.2.1.slim.min.js" )
  %script( src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" )
  %script( src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" )
  %script( src="https://unpkg.com/axios/dist/axios.min.js" )
  %script( src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" )
  %script( src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js" )

  :javascript
    $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
